default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: localhost

development:
  <<: *default
  database: mnl24_development

test:
  <<: *default
  database: mnl24_test

production:
  <<: *default
  database: mnl24_production
  username: mnl24
  password: <%= ENV['MNL24_DATABASE_PASSWORD'] %>
